= form_for @author do |f|
  - if @author.errors.any?
    #error_explanation
      %h2= "#{pluralize(@author.errors.count, "error")} prohibited this author from being saved:"
      %ul
        - @author.errors.full_messages.each do |msg|
          %li= msg
  - %i(first_name last_name email phone city address website).each do |field|
    = render '/common/field_text', f: f, field: field
  .actions
    = f.submit 'Save'
