- content_for :presearch_tip do
  %p tip: search by author

%h1 Listing authors

%table
  %thead
    %tr
      - author_atributos = %w[first_name last_name email phone city address website]

      - author_atributos.each do |atributo|
        %th
          = (t "activerecord.models.attributes.#{atributo}").capitalize
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= author.email
        %td= author.phone
        %td= author.city
        %td= author.address
        %td= author.website
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Author', new_author_path
