- content_for(:title) do
  Book list
%h1
  = t 'h1.books'

%table
  %thead
    %tr
      %th
        = (t 'activerecord.models.attributes.title').capitalize
      %th
        = (t 'activerecord.models.attributes.author').capitalize
      %th
        = (t 'activerecord.models.attributes.description').capitalize
      %th
        = (t 'activerecord.models.attributes.year').capitalize
      %th
        = (t 'activerecord.models.attributes.available').capitalize
      %th
        = (t 'activerecord.models.attributes.section').capitalize
      %th
        = (t 'activerecord.models.attributes.shelf').capitalize
      %th
        = (t 'activerecord.models.attributes.order').capitalize
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.author
        %td= book.description
        %td= book.year
        %td= book.available
        %td= book.section
        %td= book.shelf
        %td= book.order
        %td= link_to 'Show', book_path(book)
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br

