!!!
%html
  %head
    %title Biblioteca
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %ul
      %li= link_to 'Authors', authors_path
      %li= link_to 'Books', books_path
      %li= link_to 'Home', web_home_path
      %li= link_to 'Search', web_search_path
      %li= link_to 'About us', web_about_us_path
  = yield