!!!
%html
  %head
    %title
      = yield(:title).presence || 'Biblioteca, your best pet project'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %ul
      %li= link_to (t 'activerecord.models.author.other'), authors_path
      %li= link_to (t 'activerecord.models.book.other'), books_path
      %li= link_to (t 'actions.home'), web_home_path
      %li= link_to (t 'actions.about_us'), about_us_path
    = yield(:presearch_tip)
    %p
      = form_tag web_search_path do
        = text_field_tag :text_to_search
        = submit_tag
  = yield
  %p
    locale: #{I18n.locale}
    = I18n.localize Time.current, format: :long
  %p
    = link_to 'Español', request.path.to_s + '?locale=es'
    = link_to 'Inglés', request.path.to_s + '?locale=en'
  - console if Rails.env.development?
